{{#if this.loading}}
  <div class="container"><div class="spinner"></div></div>
{{else}}
<div class="fastyle">
  <div class="sidebar" id="sidebar" data-simplebar="init">
    <ul class="search">
      {{!-- Aquí puedes agregar elementos de búsqueda dinámicos --}}
    </ul>
  </div>
  <div class="content">
    {{yield}}
  </div>
</div>
{{/if}}
